In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("park_data/train_df.csv")
test = pd.read_csv("park_data/test_df.csv")
age_gender = pd.read_csv("park_data/age_gender_info.csv")
sub = pd.read_csv("park_data/sample_submission.csv")

In [3]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000,82940,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000,107130,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000,149760,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [4]:
test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0
1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1005,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1006,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1007,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

### 컬럼명 바꿈

In [5]:
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수', '등록차량수']

test.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철수',
       '버정수', '단지내주차면수']

### 자격유형 결측값 대체

In [6]:
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2411']) ,'자격유형'] = 'A'
test.loc[test['자격유형'].isnull() & test['단지코드'].isin(['C2253']) ,'자격유형'] = 'C'

### 지하철 결측값있는데이터 train, test로 나누기

In [7]:
test_df = test[test.지하철수.isnull()]
train_df = test[~(test.지하철수.isnull())]

### 인덱스 초기화

In [8]:
train_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)

In [9]:
train_df.corr()

              총세대수      전용면적  전용면적별세대수       공가수      지하철수       버정수   단지내주차면수
총세대수      1.000000  0.084284  0.071334  0.308613  0.155516  0.017051  0.403408
전용면적      0.084284  1.000000 -0.004558 -0.024623  0.063819  0.014170  0.065765
전용면적별세대수  0.071334 -0.004558  1.000000  0.122765 -0.029392  0.037320  0.346526
공가수       0.308613 -0.024623  0.122765  1.000000  0.065361 -0.011411  0.272251
지하철수      0.155516  0.063819 -0.029392  0.065361  1.000000  0.030180  0.066159
버정수       0.017051  0.014170  0.037320 -0.011411  0.030180  1.000000  0.170812
단지내주차면수   0.403408  0.065765  0.346526  0.272251  0.066159  0.170812  1.000000

### 임대보증금, 임대료 결측값 해결, 지하철수 type 변경

In [10]:
train_df.loc[train_df.임대보증금=='-', '임대보증금'] = np.nan
test_df.loc[test_df.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train_df['임대보증금'] = train_df['임대보증금'].astype(float)
test_df['임대보증금'] = test_df['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train_df.loc[train_df.임대료=='-', '임대료'] = np.nan
test_df.loc[test_df.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train_df['임대료'] = train_df['임대료'].astype(float)
test_df['임대료'] = test_df['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

C:\Users\wnsau\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
<ipython-input-10-639a7be170b9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['임대보증금'] = train_df['임대보증금'].astype(float)
<ipython-input-10-639a7be170b9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['임대보증금'] = test_df['임대보증금'].astype(float)
<ipython-input-10-639a7be170b9>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['임대료'] = train_df['임대료'].astype(float)
<ipython-input-10-639a7be170b9>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['임대료'] = test_df['임대료'].astype(float)

In [11]:
train_df[['임대보증금', '임대료']] = train_df[['임대보증금', '임대료']].fillna(0)
test_df[['임대보증금', '임대료']] = test_df[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

C:\Users\wnsau\anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [12]:
train_df.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철수        0
버정수         0
단지내주차면수     0
dtype: int64

### 라벨인코딩

In [13]:
train_df.자격유형.unique()

array(['H', 'A', 'E', 'C', 'D', 'G', 'I', 'J', 'K', 'L', 'M', 'N'],
      dtype=object)

In [14]:
mapping = { 'A':1, 'B':2, 'C':3, 'D':4,
            'E':5, 'F':6, 'G':7, 'H':8,
            'I':9, 'J':10, 'K':11, 'L':12, 'M':13, 'N':14, 'O':15   }
train_df['자격유형'] =train_df['자격유형'].map(mapping).astype(int)
test_df['자격유형'] =test_df['자격유형'].map(mapping).astype(int)
test['자격유형'] =test['자격유형'].map(mapping).astype(int)

<ipython-input-14-69478a85a577>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['자격유형'] =train_df['자격유형'].map(mapping).astype(int)
<ipython-input-14-69478a85a577>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['자격유형'] =test_df['자격유형'].map(mapping).astype(int)

In [15]:
map_region = {'경상북도':1, '경상남도':2, '대전광역시':3, '경기도':4, '전라북도':5,
              '강원도':6, '광주광역시':7, '충청남도':8, '부산광역시':9, '제주특별자치도':10,
            '울산광역시':11, '충청북도':12, '전라남도':13, '대구광역시':14, '세종특별자치시':15}
train_df["지역"] = train_df['지역'].map(map_region).astype(int)
test_df["지역"] = test_df['지역'].map(map_region).astype(int)
test["지역"] = test['지역'].map(map_region).astype(int)

<ipython-input-15-4d049c182d55>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["지역"] = train_df['지역'].map(map_region).astype(int)
<ipython-input-15-4d049c182d55>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df["지역"] = test_df['지역'].map(map_region).astype(int)

In [16]:
map3 = {'국민임대':1, '공공임대(50년)':2, '영구임대':3, '임대상가':4, '공공임대(10년)':5,
              '공공임대(분납)':6, '행복주택':7}
train_df["공급유형"] = train_df['공급유형'].map(map3).astype(int)
test_df["공급유형"] = test_df['공급유형'].map(map3).astype(int)
test["공급유형"] = test['공급유형'].map(map3).astype(int)

<ipython-input-16-5243e8bedcc4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["공급유형"] = train_df['공급유형'].map(map3).astype(int)
<ipython-input-16-5243e8bedcc4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df["공급유형"] = test_df['공급유형'].map(map3).astype(int)

In [17]:
map4 = {'아파트':1, '상가':2}
train_df["임대건물구분"] = train_df['임대건물구분'].map(map4).astype(int)
test_df["임대건물구분"] = test_df['임대건물구분'].map(map4).astype(int)
test["임대건물구분"] = test['임대건물구분'].map(map4).astype(int)

<ipython-input-17-eed2b20bf695>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df["임대건물구분"] = train_df['임대건물구분'].map(map4).astype(int)
<ipython-input-17-eed2b20bf695>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df["임대건물구분"] = test_df['임대건물구분'].map(map4).astype(int)

In [18]:
train_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
0,C1072,754,1,4,1,39.79,116,14.0,8,22830000.0,189840.0,0.0,2.0,683.0
1,C1072,754,1,4,1,46.81,30,14.0,1,36048000.0,249930.0,0.0,2.0,683.0
2,C1072,754,1,4,1,46.90,112,14.0,8,36048000.0,249930.0,0.0,2.0,683.0
3,C1072,754,1,4,1,46.90,120,14.0,8,36048000.0,249930.0,0.0,2.0,683.0
4,C1072,754,1,4,1,51.46,60,14.0,8,43497000.0,296780.0,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,C1267,675,1,2,7,36.77,126,38.0,12,0.0,0.0,0.0,1.0,467.0
966,C2189,382,1,5,1,29.19,96,45.0,8,6872000.0,106400.0,0.0,2.0,300.0
967,C2189,382,1,5,1,29.19,20,45.0,8,6872000.0,106400.0,0.0,2.0,300.0
968,C2189,382,1,5,1,39.45,202,45.0,8,13410000.0,144600.0,0.0,2.0,300.0
969,C2189,382,1,5,1,46.23,60,45.0,8,18689000.0,166500.0,0.0,2.0,300.0

In [19]:
del test_df['지하철수']

In [20]:
test_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,버정수,단지내주차면수
0,C1472,548,1,8,1,36.62,116,2.0,1,8738000.0,87380.0,1.0,442.0
1,C1472,548,1,8,1,39.51,56,2.0,1,9985000.0,99850.0,1.0,442.0
2,C1472,548,1,8,1,46.79,56,2.0,1,13731000.0,131070.0,1.0,442.0
3,C1472,548,1,8,1,46.90,86,2.0,1,13731000.0,131070.0,1.0,442.0
4,C1472,548,1,8,1,51.93,234,2.0,1,18726000.0,143550.0,1.0,442.0
5,C1083,427,1,3,1,39.85,40,0.0,1,12483000.0,106090.0,6.0,384.0
6,C1083,427,1,3,1,51.48,64,0.0,1,32459000.0,187260.0,6.0,384.0
7,C1083,427,1,3,1,51.99,107,0.0,1,32459000.0,187260.0,6.0,384.0
8,C1083,427,1,3,1,51.99,96,0.0,1,32459000.0,187260.0,6.0,384.0
9,C1083,427,1,3,1,59.45,120,0.0,1,39950000.0,243430.0,6.0,384.0
10,C2177,1245,1,8,3,26.37,478,2.0,3,3141000.0,69900.0,1.0,187.0
11,C2177,1245,1,8,3,26.37,596,2.0,3,3141000.0,69900.0,1.0,187.0
12,C2177,1245,1,8,3,31.32,149,2.0,3,3731000.0,83020.0,1.0,187.0
13,C2177,1245,2,8,4,15.00,1,2.0,4,0.0,0.0,1.0,187.0
14,C2177,1245,2,8,4,15.00,1,2.0,4,0.0,0.0,1.0,187.0
15,C2177,1245,2,8,4,16.57,1,2.0,4,0.0,0.0,1.0,187.0
16,C2177,1245,2,8,4,18.38,1,2.0,4,0.0,0.0,1.0,187.0
17,C2177,1245,2,8,4,18.38,1,2.0,4,0.0,0.0,1.0,187.0
18,C2177,1245,2,8,4,20.90,1,2.0,4,0.0,0.0,1.0,187.0
19,C2177,1245,2,8,4,20.90,1,2.0,4,0.0,0.0,1.0,187.0
20,C2177,1245,2,8,4,20.90,1,2.0,4,0.0,0.0,1.0,187.0
21,C2177,1245,2,8,4,20.90,1,2.0,4,0.0,0.0,1.0,187.0
22,C2177,1245,2,8,4,21.94,1,2.0,4,0.0,0.0,1.0,187.0
23,C2177,1245,2,8,4,23.35,1,2.0,4,0.0,0.0,1.0,187.0
24,C2177,1245,2,8,4,26.25,1,2.0,4,0.0,0.0,1.0,187.0
25,C2177,1245,2,8,4,26.25,1,2.0,4,0.0,0.0,1.0,187.0
26,C2177,1245,2,8,4,28.50,1,2.0,4,0.0,0.0,1.0,187.0
27,C2177,1245,2,8,4,33.15,1,2.0,4,0.0,0.0,1.0,187.0
28,C2177,1245,2,8,4,33.31,1,2.0,4,0.0,0.0,1.0,187.0
29,C2177,1245,2,8,4,33.39,1,2.0,4,0.0,0.0,1.0,187.0
30,C2177,1245,2,8,4,33.51,1,2.0,4,0.0,0.0,1.0,187.0
31,C2177,1245,2,8,4,33.51,1,2.0,4,0.0,0.0,1.0,187.0
32,C2177,1245,2,8,4,40.39,1,2.0,4,0.0,0.0,1.0,187.0
33,C2177,1245,2,8,4,61.89,1,2.0,4,0.0,0.0,1.0,187.0
34,C2177,1245,2,8,4,401.50,1,2.0,4,0.0,0.0,1.0,187.0
35,C1318,312,1,8,2,39.51,135,1.0,1,14440000.0,208840.0,11.0,226.0
36,C1318,312,1,8,2,39.72,18,1.0,1,14515000.0,208050.0,11.0,226.0
37,C1318,312,1,8,2,49.99,159,1.0,1,18269000.0,258880.0,11.0,226.0

In [21]:
train['지하철수'].value_counts()

0.0    2223
1.0     400
2.0      33
3.0       6
Name: 지하철수, dtype: int64

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [23]:
# '총세대수', '전용면적', '전용면적별세대수','임대건물구분','지역',
# '공급유형', '공가수','자격유형', '버정수', '임대보증금','임대료',
#        '단지내주차면수'
sel = ['총세대수','임대건물구분','지역',
'공급유형', '공가수','자격유형', '버정수','단지내주차면수']

X_train = train_df[sel]
y_train = train_df['지하철수']
X_test = test_df[sel]

### 여러모델 테스트

In [30]:
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.0347981881667947

In [244]:
model = LogisticRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.8382352941176471

C:\Users\wnsau\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [28]:
model = KNeighborsClassifier(n_neighbors=1)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 1.0

In [50]:
model = DecisionTreeClassifier(max_depth=7, random_state=0)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.9958762886597938

In [34]:
model = RandomForestClassifier(n_estimators=3, random_state=4)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 1.0

In [32]:
model = GradientBoostingClassifier(random_state=0, max_depth=2, learning_rate=0.03)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print("학습(score) :", model.score(X_train, y_train) ) # 결정계수

학습(score) : 0.9680412371134021

In [51]:
pred

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 2., 2., 2.])

In [52]:
test_df['지하철수'] = pred

<ipython-input-52-944eb1f47482>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['지하철수'] = pred

In [53]:
test_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,버정수,단지내주차면수,지하철수
0,C1472,548,1,8,1,36.62,116,2.0,1,8738000.0,87380.0,1.0,442.0,0.0
1,C1472,548,1,8,1,39.51,56,2.0,1,9985000.0,99850.0,1.0,442.0,0.0
2,C1472,548,1,8,1,46.79,56,2.0,1,13731000.0,131070.0,1.0,442.0,0.0
3,C1472,548,1,8,1,46.90,86,2.0,1,13731000.0,131070.0,1.0,442.0,0.0
4,C1472,548,1,8,1,51.93,234,2.0,1,18726000.0,143550.0,1.0,442.0,0.0
5,C1083,427,1,3,1,39.85,40,0.0,1,12483000.0,106090.0,6.0,384.0,0.0
6,C1083,427,1,3,1,51.48,64,0.0,1,32459000.0,187260.0,6.0,384.0,0.0
7,C1083,427,1,3,1,51.99,107,0.0,1,32459000.0,187260.0,6.0,384.0,0.0
8,C1083,427,1,3,1,51.99,96,0.0,1,32459000.0,187260.0,6.0,384.0,0.0
9,C1083,427,1,3,1,59.45,120,0.0,1,39950000.0,243430.0,6.0,384.0,0.0
10,C2177,1245,1,8,3,26.37,478,2.0,3,3141000.0,69900.0,1.0,187.0,0.0
11,C2177,1245,1,8,3,26.37,596,2.0,3,3141000.0,69900.0,1.0,187.0,0.0
12,C2177,1245,1,8,3,31.32,149,2.0,3,3731000.0,83020.0,1.0,187.0,0.0
13,C2177,1245,2,8,4,15.00,1,2.0,4,0.0,0.0,1.0,187.0,0.0
14,C2177,1245,2,8,4,15.00,1,2.0,4,0.0,0.0,1.0,187.0,0.0
15,C2177,1245,2,8,4,16.57,1,2.0,4,0.0,0.0,1.0,187.0,0.0
16,C2177,1245,2,8,4,18.38,1,2.0,4,0.0,0.0,1.0,187.0,0.0
17,C2177,1245,2,8,4,18.38,1,2.0,4,0.0,0.0,1.0,187.0,0.0
18,C2177,1245,2,8,4,20.90,1,2.0,4,0.0,0.0,1.0,187.0,0.0
19,C2177,1245,2,8,4,20.90,1,2.0,4,0.0,0.0,1.0,187.0,0.0
20,C2177,1245,2,8,4,20.90,1,2.0,4,0.0,0.0,1.0,187.0,0.0
21,C2177,1245,2,8,4,20.90,1,2.0,4,0.0,0.0,1.0,187.0,0.0
22,C2177,1245,2,8,4,21.94,1,2.0,4,0.0,0.0,1.0,187.0,0.0
23,C2177,1245,2,8,4,23.35,1,2.0,4,0.0,0.0,1.0,187.0,0.0
24,C2177,1245,2,8,4,26.25,1,2.0,4,0.0,0.0,1.0,187.0,0.0
25,C2177,1245,2,8,4,26.25,1,2.0,4,0.0,0.0,1.0,187.0,0.0
26,C2177,1245,2,8,4,28.50,1,2.0,4,0.0,0.0,1.0,187.0,0.0
27,C2177,1245,2,8,4,33.15,1,2.0,4,0.0,0.0,1.0,187.0,0.0
28,C2177,1245,2,8,4,33.31,1,2.0,4,0.0,0.0,1.0,187.0,0.0
29,C2177,1245,2,8,4,33.39,1,2.0,4,0.0,0.0,1.0,187.0,0.0
30,C2177,1245,2,8,4,33.51,1,2.0,4,0.0,0.0,1.0,187.0,0.0
31,C2177,1245,2,8,4,33.51,1,2.0,4,0.0,0.0,1.0,187.0,0.0
32,C2177,1245,2,8,4,40.39,1,2.0,4,0.0,0.0,1.0,187.0,0.0
33,C2177,1245,2,8,4,61.89,1,2.0,4,0.0,0.0,1.0,187.0,0.0
34,C2177,1245,2,8,4,401.50,1,2.0,4,0.0,0.0,1.0,187.0,0.0
35,C1318,312,1,8,2,39.51,135,1.0,1,14440000.0,208840.0,11.0,226.0,2.0
36,C1318,312,1,8,2,39.72,18,1.0,1,14515000.0,208050.0,11.0,226.0,2.0
37,C1318,312,1,8,2,49.99,159,1.0,1,18269000.0,258880.0,11.0,226.0,2.0

In [54]:
all_df = pd.concat([train_df, test_df], join='inner')
all_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
0,C1072,754,1,4,1,39.79,116,14.0,8,22830000.0,189840.0,0.0,2.0,683.0
1,C1072,754,1,4,1,46.81,30,14.0,1,36048000.0,249930.0,0.0,2.0,683.0
2,C1072,754,1,4,1,46.90,112,14.0,8,36048000.0,249930.0,0.0,2.0,683.0
3,C1072,754,1,4,1,46.90,120,14.0,8,36048000.0,249930.0,0.0,2.0,683.0
4,C1072,754,1,4,1,51.46,60,14.0,8,43497000.0,296780.0,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,C2177,1245,2,8,4,61.89,1,2.0,4,0.0,0.0,0.0,1.0,187.0
34,C2177,1245,2,8,4,401.50,1,2.0,4,0.0,0.0,0.0,1.0,187.0
35,C1318,312,1,8,2,39.51,135,1.0,1,14440000.0,208840.0,2.0,11.0,226.0
36,C1318,312,1,8,2,39.72,18,1.0,1,14515000.0,208050.0,2.0,11.0,226.0
37,C1318,312,1,8,2,49.99,159,1.0,1,18269000.0,258880.0,2.0,11.0,226.0

In [55]:
all_df.reset_index(drop=True, inplace=True)
all_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철수,버정수,단지내주차면수
0,C1072,754,1,4,1,39.79,116,14.0,8,22830000.0,189840.0,0.0,2.0,683.0
1,C1072,754,1,4,1,46.81,30,14.0,1,36048000.0,249930.0,0.0,2.0,683.0
2,C1072,754,1,4,1,46.90,112,14.0,8,36048000.0,249930.0,0.0,2.0,683.0
3,C1072,754,1,4,1,46.90,120,14.0,8,36048000.0,249930.0,0.0,2.0,683.0
4,C1072,754,1,4,1,51.46,60,14.0,8,43497000.0,296780.0,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C2177,1245,2,8,4,61.89,1,2.0,4,0.0,0.0,0.0,1.0,187.0
1004,C2177,1245,2,8,4,401.50,1,2.0,4,0.0,0.0,0.0,1.0,187.0
1005,C1318,312,1,8,2,39.51,135,1.0,1,14440000.0,208840.0,2.0,11.0,226.0
1006,C1318,312,1,8,2,39.72,18,1.0,1,14515000.0,208050.0,2.0,11.0,226.0
1007,C1318,312,1,8,2,49.99,159,1.0,1,18269000.0,258880.0,2.0,11.0,226.0

In [56]:
all_df.to_csv('test(subway).csv',index=False)